{% extends "base.html" %}

{% block content %}
<div class="topmargin container">
	<div class="row">
		<h1>{{university.uni_name}}</h1>
		{{program.degree}} - {{program.title}}<br>
		{{program.eligibility}}<br>
		{{program.institution_name}}<br>
		{{program.complation_requirement}}<br>
		{{program.scope}}<br>
		{{program.fees}}<br>
		{{program.scholarship}}<br>
		{{program.duration}}<br>
		{{program.credit_hours}}<br>
		{{program.teaching_system}}<br>
		{{program.seats}}<br>
		{{program.shift}}<br>
		{{program.session}}<br>
		{{program.regular_private}}<br>
		{{program.department}}<br>
		{{program.faculty}}<br>
		{{program.course_outline}}<br>
		{{program.campus}}<br>
		{{program.hec_ranking}}<br>
		{{program.hostel_facility}}<br>
		{{program.contact}}<br>
		{{program.location}}<br>
		{{program.affiliation}}<br>
		{{program.lectures_notes}}<br>
		{{program.reference_sites}}<br>
		{{program.web}}<br>
		{{program.alumni}}<br>
		{{program.city}}<br>
		{{program.district}}<br>
		{{program.province}}<br>
		{{program.institute_typeprogram}}<br>
	</div>
</div><br><hr><br>
{% endblock %}